{% extends '::base.html.twig' %}

{% block stylesheets %}
  {% stylesheets '@TastetagMainBundle/Resources/public/css/style.css' %}
    	<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}



{% block body %}
<h2>Zarejestruj się</h2>
<form action="{{ path('account_create')}}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>	
    <label>	</label>
    <button type="submit">Zarejestruj</button>
    </div>
</form>
{% endblock %}

