<form action="{{ path('recipe_comment_create', { 'recipe_id' : recipe_id } ) }}" method="post" {{ form_enctype(form) }} class="recipeger">
    {{ form_rest(form) }}
    <p>
        <input type="submit" value="Submit">
    </p>
</form>