<form action="{{ path('recipe_comment_create', { 'recipe_id' : recipe_id } ) }}" method="post" {{ form_enctype(form) }} class="recipeger">
    {{ form_rest(form) }}
        <input type="submit" value="Wyślij" class="btn">
</form>