{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@TastetagMainBundle/Resources/public/css/style.css' %}
    	<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}

{% block body %}
    <h1>Add comment for recipe "{{ comment.recipe.name }}"</h1>
    {% include 'TastetagMainBundle:Comments:form.html.twig' with { 'form': form, 'recipe_id' : comment.recipe.id } %}
{% endblock %}