{% extends '::base.html.twig' %}

{% block stylesheets %}
  {% stylesheets '@TastetagMainBundle/Resources/public/css/style.css' %}
    	<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}



{% block body %}
	{% for entity in entities %}
    <a href="{{ path('recipe_show', {'id': entity.id}) }}" class="recipe-grid-item">
     	<img src="http://www.villatoscanarestaurant.co.uk/communities/5/004/012/894/175//images/4615381073.jpg" class="recipe-thumb">
     	<div class="recipe-name">{{ entity.name }}</div>
    </a>
  {% endfor %}
{% endblock %}