html {
	background: #FCFCFC;
}
body {
	font-family: 'Lato';
	font-size: 14px;
	color: #1D1D1D;
	margin: 0px;
}
.content-limiter {
	width: 1000px;
	margin: 0 auto;
}
.nav-container {
	width: 100%;
	height: 70px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: #FFF;
	color: #1D1D1D;
	font-size: 24px;
	line-height: 70px;
	box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.1);
}
.nav-container a.logo {
	color: #54CD96;
	text-decoration: none;
}
nav.main {
	float: 	right;
}
nav.main a {
	color: #1D1D1D;
	font-size: 	14px;
	text-decoration: 	none;
	margin: 0 10px;	
}
nav.main a .admin-red {
	color: 	rgb(225, 101, 101);
}
nav.main a.admin-link {
	display: inline-block;
	background-color: rgb(240, 108, 108);
	color: #fff;
	padding: 0 10px;
	border-radius: 3px;
	height: 30px;
	line-height: 30px;
}
input[type="text"].nav-search {
	height: 36px;
	line-height: 36px;
	padding: 0 10px;
	border-radius: 5px;
	border: 1px solid #54CD96;
	outline: 0;
	display: inline-block;
	vertical-align: top;
	margin-top: 16px;
	margin-left: 40px;
	width: 230px;
	transition: all 0.3s;
}
input[type="text"].nav-search:hover {
	background: rgb(239, 247, 243);
}
input[type="text"].nav-search:focus {
	background: rgb(239, 247, 243);
}
form.main-search {
	display: inline-block;	
}
.main-outer-container {
	margin-top: 100px;
	min-height: 600px;
}
input[type="text"], textarea, select, input[type="number"], input[type="password"], input[type="email"] {
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border-radius: 5px;
	border: 1px solid #dedede;
	background: #fff;
	outline: 0;
	display: inline-block;
	vertical-align: top;
	width: 200px;
	margin-bottom: 10px;
}
input[type="number"] {
	padding-right: 0px;
}
textarea {
	height: 	100px;
	line-height: 20px;
}
form label {
	width: 100px;
	text-align: right;
	margin-right: 10px;
	display: inline-block;
	vertical-align: top;
	margin-top: 6px;
}
.recipe-grid-item {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	border: 1px solid #dedede;
	margin: 10px;
	text-align: center;
	transition: all 0.3s;
	border-radius: 5px;
	overflow: hidden;
	color: #1D1D1D;
	text-decoration: none;
}
a.recipe-name {
	text-decoration: 	none;
	margin-bottom: 	10px;
	display: 	block;	
	color: 	#1D1D1D;
}
.recipe-grid-item:hover {
	border-color: #54CD96;
}
.recipe-grid-item .delete-recipe {
	margin-bottom: 20px;
}
.recipe-grid-item .recipe-name {
	font-size: 	14px;
	margin: 7px 0;
}
.recipe-grid-item .recipe-thumb {
	max-width: 	100%;
	height: 160px;
	background-size: cover;
	background-position: center;
}
.recipe-grid-item .recipe-name {
	padding: 10px;
}
#recipe_difficulty {
	display: inline-block;
	vertical-align: top;
}
#recipe_difficulty label {
	text-align: left;
	margin-top: 	0px;
}
#recipe_preparationTime {
	display: inline-block;
	vertical-align: top;
}
#recipe_preparationTime select {
	width: 70px;
}
.ingridient-form-row div {
	display: inline-block;
	margin-right: 3px;
	margin-left: 10px;
}
.ingridient-form-row div label {
	display: block;
	text-align: left;
	width: auto;
	margin-top: 	0px;
}
.ingridient-form-row div input[type="number"] {
	width: 50px;
}
.ingridient-form-row div:nth-child(3) input[type="text"]{
	width: 60px;
}
.ingridient-form-row .delete-cross {
	left: -10px;
	top: 25px;
}
.tag-form-row .delete-cross {
	margin-top: 8px;
}
.tag-form-row {
	display: inline-block;
	position: 	relative;	
	margin-right: 	15px;
}
.tag-form-row input[type="text"] {
	display: inline-block;
	width: 120px;
	height: 28px;
	line-height: 26px;
	border: 1px solid #dedede;
	border-radius: 30px;
	padding: 0 15px;
	margin: 0px 1px 5px 0px;
	text-decoration: none;
	text-align: 	center;
}
.tag-form-row input[type="text"].done-tag {
	border-color: #54CD96;	
	color: #54CD96;
}
.recipe-images img {
	max-width: 200px;
}
.form-section-title {
	padding-top: 10px;
	border-top: 1px solid #dedede;
	margin-top: 20px;
	text-transform: 	uppercase;	
	font-weight: bold;	
}
ul.images {
	list-style: 	none;
}
ul.ingridients {
	list-style: 	none;
}
ul.tags {
	list-style: 	none;
}
a.delete-cross {
	display: 	inline-block;	
	vertical-align: 	middle;
	width: 16px;
	height: 16px;
	position: 	absolute;	
	top: 0px;
	left: 	-10px;
	background: url('../../icon-sprite.png') no-repeat -4px -5px;	
}
.btn {
	display: inline-block;
	vertical-align: top;
	height: 34px;
	line-height: 34px;
	background: #54CD96;
	color: #fff;
	padding: 0 30px;
	border-radius: 3px;
	border: 0px;
	outline: 0;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.3s;
}
.btn:hover {
	background: rgb(82, 182, 137);
}
.image-form-row {
	margin-bottom: 	10px;
	position: 	relative;	
}
.image-form-row label {
	width: auto;
	text-align: left;
	margin-top: 0px;
}
.image-form-row div {
	display: inline-block;
	vertical-align: top;
}
.ingridient-form-row {
	position: 	relative;	
}
.tag-form-row label {
	width: auto;
	text-align: left;
}
.tag-form-row div {
	display: inline-block;
	vertical-align: top;
}

a.add-item-link {
	text-decoration: 	none;
	color: 	#54CD96;
}
.prep-time div {
	display: 	inline-block;
	margin-right: 5px;
}
.prep-time div label {
	display: 	block;
	width: 	auto;	
	text-align: 	left;
}
.prep-time div input[type="number"] {
	width: 	50px;
}
input[type="number"]#recipe_people {
	width: 50px;
}
#recipe_name {
	width: 500px;
}
#recipe_description {
	width: 500px;
	height: 200px;
}
.tag-item {
	display: inline-block;
	height: 32px;
	line-height: 30px;
	background: #54CD96;
	color: #54CD96;
	border-radius: 30px;
	padding: 0 15px;
	margin: 0px 5px 10px 0px;
	text-decoration: none;
	transition: all 0.3s;
	color: 	#fff;
}
.tag-item:hover {
	background: rgb(57, 174, 121);
}
.recipe-column-left {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
	position: relative;
}
.recipe-column-right {
	width: 650px;
	display: inline-block;
	vertical-align: top;
}
.recipe-name {
	margin: 30px 0;
	font-size: 26px;
	font-weight: bold;
}
a.edit-recipe {
	display: inline-block;
	background: rgb(90, 90, 90);
	color: #fff;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border-radius: 5px;
	font-size: 14px;
	text-decoration: none;
}
.recipe-actions {
	float: right;
}
form.delete-recipe-form {
	display: inline-block;
	vertical-align: top;
}
button[type="submit"].delete-recipe {
	display: inline-block;
	background: rgb(90, 90, 90);
	font-family: 'Lato';
	color: #fff;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border-radius: 5px;
	font-size: 14px;
	text-decoration: none;
	border: 0;
	outline: 	0;
}
.ingridients-holder {
	padding: 20px;
	background: #ECECEC;
}
.ingridients-holder ul {
	list-style: 	none;
	padding-left: 0px;
}
.ingridients-holder ul li {
	margin: 7px 0;
}
h4 {
	color: #B33061;
	margin-top: 0px;
	margin-bottom: 10px;
	font-weight: 900;
	font-size: 16px;
}
.recipe-info-holder {
	margin-top: 10px;
	margin-bottom: 20px;
}
.recipe-info-item {
	margin: 5px 0;
}
.recipe-info-item .icon {
	display: inline-block;
	vertical-align: 	middle;	
	margin-right: 	10px;
	width: 30px;
	height: 30px;
	background: url('../../icon-sprite.png') 0px 0px no-repeat;
}
.recipe-info-item .icon.time {
	background-position: -110px 3px
}
.recipe-info-item .icon.difficulty {
	background-position: -34px 3px
}
.recipe-info-item .icon.people {
	background-position: -72px 3px
}
.recipe-description {
	line-height: 	22px;
	margin-bottom: 30px;
}
.add-to-favorite {
	width: 	50px;
	border: 2px solid #B33061;
	color: #B33061;
	text-align: 	center;
	background: 	#fff;
	border-radius: 	7px;
	padding: 5px;
	padding-bottom: 10px;
	text-transform: 	uppercase;	
	font-size: 	10px;
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
}
.add-to-favorite .icon {
	width: 	30px;
	height: 	30px;
	display: 	inline-block;	
	background: url('../../icon-sprite.png') -188px 4px no-repeat;
}
.add-to-favorite input[type="submit"] {
	border: 0px;
	background: 	#fff;
	color: #B33061;
	text-transform: 	uppercase;	
	font-size: 	10px;
	padding: 0px;
	font-family: 'Lato';
	font-weight: bold;
	cursor: pointer;
	outline: 0;
}
.popular-tags-holder {
	text-align: 	center;
	width: 600px;
	margin: 0 auto;
}
.result-grid-item {
	border-bottom: 	1px solid #dedede;
	font-size: 	14px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.result-grid-item .recipe-thumb {
	display: 	inline-block;	
	vertical-align: 	top;
	width: 	200px;
	height: 	200px;
	background-size: 	cover;
	background-position: center;
}
.result-grid-item .result-info {
	display: 	inline-block;	
	vertical-align: 	top;
	width: 	600px;
	margin-left: 10px;
}
.result-grid-item .result-name{
	font-size: 28px;
	color: #323232;
	text-decoration: none;
	margin-bottom: 10px;
	font-weight: 600;
	display: block;
}
.result-tags {
	margin-top: 	10px;
}
.fav-count {
	height: 25px;
	padding: 0 10px;
	border-radius: 25px;
	line-height: 25px;
	color: #fff;
	background-color: #B33061;
	display: inline-block;
	position: absolute;
	z-index: 1;
	left: 20px;
	top: 10px;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
	cursor: default;
}
footer {
	width: 100%;
	padding: 20px 0;
	margin-top: 80px;
	background: #202020;
	color: #DFDFDF;
	font-weight: 300;
}
footer .epi-link {
	color: 	#54CD96;
	float: right;
	text-decoration: none;
}
.comments-holder {
	border-top: 1px solid #dedede;
	padding-top: 20px;
	margin-top: 40px;
}
.comment-form label {
	display: 	none;	
}
.comment-form {
	margin-bottom: 10px;
}
.comment-form textarea {
	margin-top: 4px;
	width: 97%;
}
.comment-item {
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: #dedede;
	padding: 10px;
}
.comment-autor {
	font-size: 	16px;
	font-weight: 	bold;
}
.comment-date {
	color: #868686;
	font-size: 12px;
	margin-top: 1px;
}
.comment-content {
	margin: 10px 0;
}
.tag-search-form {
	text-align: 	center;	
	margin-bottom: 30px;
	border-bottom: 1px solid #dedede;
	padding-bottom: 30px;
}
input[type="text"].tag-input {
	border-radius: 30px;
	border-color: #54CD96;
	width: 140px;
	margin: 10px 5px;
	padding: 0 20px;
}
.tag-plus {
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
	font-size: 18px;
	color: #54CD96;
}
.submit-tags {
	border-radius: 20px;
	width: 150px;
	margin-top: 10px;
}
.selected-tags {
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: 600;
}
.ui-autocomplete {
	background-color: #fff;
	padding: 10px;
	list-style: none;
	width: 100px;
	border: 1px solid #dedede;
}
li.ui-menu-item {
	height: 28px;
	line-height: 26px;
	border: 1px solid #54CD96;
	color: 	#54CD96;
	border-radius: 30px;
	padding: 0 15px;
	margin: 3px 0;
	text-decoration: none;
	transition: all 0.3s; 
	width: auto;
	cursor: pointer;
	display: 	inline-block;	
}
li.ui-menu-item:hover {
	background-color: #54CD96;
	color: 	#fff;	
}
li.ui-state-focus {
	background-color: #54CD96;
	color: 	#fff;	
}
.advanced-form-holder {
	border-bottom: 	1px solid #dedede;
	padding-bottom: 	20px;
	margin-bottom: 	20px;
}
.advanced-form-holder .input-holder {
	display: 	inline-block;	
	vertical-align: 	top;	
	margin-right: 	4px;
}
.advanced-form-holder .input-holder select {
	height: 	32px;
}
.advanced-form-holder .input-holder .btn {
	margin-top: 	15px;
}
/*slider styles*/
/* Just for the example. Fee free to delete these three lines */
.pikachoose {width: 280px; margin: 0 auto;}

/* Style the thumbnails */
.pika-thumbs{ padding: 0; height: 100px; }
	.pika-thumbs li{ width: 100px; height:74px; margin: 10px 0 0 17px; padding: 0; overflow: hidden;
		float: left; list-style-type: none;padding: 3px; margin: 0 5px; background: #fafafa; border: 1px solid #e5e5e5; cursor: pointer;}
	.pika-thumbs li .clip {position:relative;height:100%;text-align: center; vertical-align: middle; overflow: hidden;}
	
/* The stage is the wrapper. The image fills 100% the height of the stage */
.pika-stage, .pika-textnav {width: 280px; height: auto !important;}
.pika-stage {position: relative; background: #fafafa; text-align:center;}
.pika-stage img{max-width: 100%; }
.pika-stage .caption { display: 	none;}

/* Ths play, pause, prev and next buttons */
.pika-imgnav a {position: absolute; text-indent: -5000px; display: block;z-index:3;}

/* The previous and next textual buttons */
.pika-textnav { display: none;}
.pika-textnav a {font-size: 12px; text-decoration: none; color: #333; padding: 4px;}
	.pika-textnav a.previous {float: left; width: auto; display: block;}
	.pika-textnav a.next {float: right; width: auto; display: block;}

/*for the tool tips*/
.pika-tooltip{font-size:12px;position:absolute;color:white;padding:3px; background-color: rgba(0,0,0,0.7);border:3px solid black;}
.pika-counter{position: absolute;top: 10px;left:10px;color:#000;background:rgba(255,255,255,0.7);font-size:11px;padding:3px;-moz-border-radius: 5px;border-radius:5px;}

/* If using user thumbnails there's a pause well the new large image loads. This is the loader for that */		
.pika-loader{ background:url(loading.gif) 3px 3px no-repeat #000; background-color:rgba(0,0,0,0.9); color:white; width:60px; font-size:11px; padding:5px 3px; 
	text-align:right; position:absolute; top:15px; right:15px; }
