html {
	background: #FCFCFC;
}
body {
	font-family: 'Lato';
	font-size: 14px;
	color: #1D1D1D;
}
.content-limiter {
	width: 1000px;
	margin: 0 auto;
}
.nav-container {
	width: 100%;
	height: 70px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: #FFF;
	color: #1D1D1D;
	font-size: 24px;
	line-height: 70px;
	box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.1);
}
.nav-container a.logo {
	color: rgb(98, 219, 164);
	text-decoration: none;
}
nav.main {
	float: 	right;
}
nav.main a {
	color: #1D1D1D;
	font-size: 	14px;
	text-decoration: 	none;
	margin: 0 10px;	
}
input[type="text"].nav-search {
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border-radius: 5px;
	border: 1px solid rgb(98, 219, 164);
	outline: 0;
	display: inline-block;
	vertical-align: top;
	margin-top: 19px;
	margin-left: 40px;
	width: 200px;
}
.main-outer-container {
	margin-top: 100px;
}
input[type="text"], textarea, select, input[type="number"], input[type="password"], input[type="email"] {
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border-radius: 5px;
	border: 1px solid #dedede;
	background: #fff;
	outline: 0;
	display: inline-block;
	vertical-align: top;
	width: 200px;
	margin-bottom: 10px;
}
input[type="number"] {
	padding-right: 0px;
}
textarea {
	height: 	100px;
}
form label {
	width: 100px;
	text-align: right;
	margin-right: 10px;
	display: inline-block;
	vertical-align: top;
	margin-top: 6px;
}
.recipe-grid-item {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	border: 1px solid #dedede;
	margin: 10px;
	text-align: center;
	transition: all 0.3s;
	border-radius: 5px;
	overflow: hidden;
	color: #1D1D1D;
	text-decoration: none;
}
.recipe-grid-item:hover {
	border-color: rgb(98, 219, 164);
}
.recipe-grid-item .recipe-thumb {
	max-width: 	100%;
	height: 160px;
	background-size: cover;
	background-position: center;
}
.recipe-grid-item .recipe-name {
	padding: 10px;
}
#recipe_difficulty {
	display: inline-block;
	vertical-align: top;
}
#recipe_difficulty label {
	text-align: left;
	margin-top: 	0px;
}
#recipe_preparationTime {
	display: inline-block;
	vertical-align: top;
}
#recipe_preparationTime select {
	width: 70px;
}
.ingridient-form-row div {
	display: inline-block;
	margin-right: 3px;
}
.ingridient-form-row div label {
	display: block;
	text-align: left;
	width: auto;
	margin-top: 	0px;
}
.ingridient-form-row div input[type="number"] {
	width: 50px;
}
.ingridient-form-row div:nth-child(3) input[type="text"]{
	width: 60px;
}
.ingridient-form-row .delete-cross {
	margin-top: 10px;
}
.recipe-images img {
	max-width: 200px;
}
.form-section-title {
	padding-top: 10px;
	border-top: 1px solid #dedede;
	margin-top: 20px;
	text-transform: 	uppercase;	
	font-weight: bold;	
}
ul.images {
	list-style: 	none;
}
ul.ingridients {
	list-style: 	none;
}
a.delete-cross {
	display: 	inline-block;	
	vertical-align: 	middle;
	width: 16px;
	height: 16px;
	background: url('../../icon-sprite.png') no-repeat -4px -5px;	
}
.btn {
	display: inline-block;
	vertical-align: top;
	height: 34px;
	line-height: 34px;
	background: rgb(98, 219, 164);
	color: #fff;
	padding: 0 30px;
	border-radius: 3px;
	border: 0px;
	outline: 0;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.3s;
}
.btn:hover {
	background: rgb(82, 182, 137);
}
.image-form-row {
	margin-bottom: 	10px;
}
.image-form-row label {
	width: auto;
	text-align: left;
	margin-top: 0px;
}
.image-form-row div {
	display: inline-block;
	vertical-align: top;
}
a.add-item-link {
	text-decoration: 	none;
	color: 	rgb(98, 219, 164);
}
.prep-time div {
	display: 	inline-block;
	margin-right: 5px;
}
.prep-time div label {
	display: 	block;
	width: 	auto;	
	text-align: 	left;
}
.prep-time div input[type="number"] {
	width: 	50px;
}
input[type="number"]#recipe_people {
	width: 50px;
}
#recipe_name {
	width: 500px;
}
#recipe_description {
	width: 500px;
	height: 200px;
}